{% extends "base.html" %}
{% block title %}
    补充老师信息
{% endblock %}
{% block content %}
    <form method="post">
    {{ teacher_form.csrf_token }}
        <table class="table table-bordered">
            <thead>
            <th>姓名：</th>
            <th>年龄：</th>
            <th>性别：</th>
            <th>科目：</th>
            <th></th>
            </thead>
            <tbody>
            <tr>
                <td>{{ teacher_form.name }}</td>
                <td>{{ teacher_form.age }}</td>
                <td>{{ teacher_form.gender }}</td>
                <td>
                    <select name="course" class="form-control">
                        {% for cou in courses %}
                        <option value="{{ cou.id }}">{{ cou.label }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4"><input type="submit" value="注册"></td>
            </tr>
            </tfoot>
        </table>
    </form>

{% endblock %}