{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
            <th>姓名：</th>
            <th>年龄：</th>
            <th>电话：</th>
        </thead>
        <tbody>
        {% for student in student_lists %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.phone }}</td>
        {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}